.navbar-input-box{
    position: relative;
    height: 60%;
    width: 30% ;
 
}
.navbar-input-box input{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding-left:10px;
    font-size: 15px;
}

.searchIcon{
    display: block;
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 10px;
    color: #393646;
}

@media only screen and (max-width: 750px) {
    .navbar-input-box{
    position: relative;
    height: 50%;
    width: 40% ;
 
}
.navbar-input-box input{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding-left:10px;
    font-size: 15px;
}

.searchIcon{
    display: block;
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 6px;
    color: #393646;
}
}

@media only screen and (max-width: 550px) {
    .navbar-input-box{
    position: relative;
    height: 50%;
    width: 60% ;
 
}
.navbar-input-box input{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding-left:10px;
    font-size: 17px;
}

.searchIcon{
    display: block;
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 7px;
    color: #393646;
}
}
.dataResult {
   
    width: 90%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.247) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
    position: absolute;
    z-index: 10;
    border-radius: 5px;
  }
  
  .dataResult::-webkit-scrollbar {
    display: none;
  }
  
  .dataResult .dataItem {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    color: black;
    cursor: pointer;
  }
  .dataResult .dataItem:hover{
    background-color: #e5e5e9;
  }
  
  .dataItem p {
    margin-left: 10px;
    margin-top: 10px;
  }
 
