.allcartitems{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.cart-head{
    display: block;
    margin: 20px auto;
    width: 300px;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    padding: 3px;
    color: black;
    border-bottom: 3px solid saddlebrown;
}
.card-total {
    width: 95%;
    margin-top: 4rem;
    text-align: right;
  }
  .card-total h3 {
    font-style: 200;
    font-size: 2rem;
    line-height: 3.2rem;
    text-transform: capitalize;
    color: #606166;
  }
   
  .card-total h3 span {
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    line-height: 3.2rem;
    text-transform: capitalize;
    color: #000000;
    margin-left: 1rem;
  }
  
  .card-total button {
    border: none;
    font-size: 1.2rem;
    padding: 1rem 3rem;
    color: #fff;
    background-color: #349bf3;
    text-transform: uppercase;
    margin-top: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    letter-spacing: 1px;
    margin-bottom: 5%;
  }
  
.emptycartImage{
  height: 680px;
  width: 100%;
  margin-top: 25px;
}
@media (max-width: 751px) {
.emptycartImage{
  margin-top: 50px;
}
}